.App {
  text-align: center;
  background-color: #1b212cff;
  min-height: 100vh;
  color: #fff;
}

.circle-overlay {
  margin-left: 20%;
  padding-top: 15%;
  width: 60%;
  background: #82c7a5a9;
  height: 80%;
  border-radius: 100%;
  border: 4px solid #d9d9d9;
  /* font-family: "Advent Pro", sans-serif; */
  font-size: auto;
}